[submodule "lib/ArduinoTapTempo"]
	path = lib/ArduinoTapTempo
	url = git@github.com:eppfel/ArduinoTapTempo.git
[submodule "lib/EasyButton"]
	path = lib/EasyButton
	url = git@github.com:eppfel/EasyButton.git
[submodule "lib/BadgeProtocol"]
	path = lib/BadgeProtocol
	url = /Users/eppf1/Documents/PlatformIO/Projects/BadgeProtocol
